<div class="card">
    <h4 class="card-title">Pet Name: </h4>
    <p>Pet's name goes here</p>
    <h5 class="card-text">Pet type:</h5>
    <p>Pet type goes here</p>
    <a href="#" class="btn btn-secondary">Edit this pet's info</a>
    <a href="#" class="btn btn-secondary">Remove this pet</a>

</div>