<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/" class="nav-item btn btn-secondary" id="homeBtn">Home</a>
</nav>
<div class="container">
    <h1>We are a super rad company</h1>
    <h3>We do lots of cool stuff</h3>
    <h3>We like animals and the people who also like them</h3>
</div>