<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/" class="nav-item btn btn-secondary" id="homeBtn">HOME</a>
</nav>
<div class="container" id="services">
    <div class="row">
        <h1>We are a super rad team with awesome pets</h1>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h4 class="card-title">Allen DeHoff</h4>
                <h5 class="card-text">2 Dogs named Boomer & Hank</h5>
                <p>I am an avid outdoorsman who loves to spend time walking around with my dogs. I also do a good amount of travelling so an aplication that helps me keep in touch when the dogs can't join is very valuable to me.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h4 class="card-title">Lisa Worsham</h4>
                <h5 class="card-text">A dog named Valkyrie</h5>
                <p>Typically I'm a homebody who enjoys experiencing the world through videogames or making one up in Dungeons and Dragons. But, sometimes, you have to experience things for real and I can't always bring my goofy lap dog with me... no matter how much she gives me those big puppy eyes.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h4 class="card-title">Shawn Morgan</h4>
                <h5 class="card-text">A dog named Teddy, a cat named Flowers and a rabbit named Blizzard</h5>
                <p>My wife and I like to get away with our 4 kids, but it's hard with 3 pets. And my kids really care about their animals. Having an app that easily allows to both connect with trusted pet sitters who we know and communicate with them during a trip would provide emmense piece of mind. </p>
            </div>
        </div>
            <div class="col-sm-6">
            <div class="card">
                <h4 class="card-title">Tajah Johnson</h4>
                <h5 class="card-text">A dog named Coco</h5>
                <p>I love to travel, especially abroad, whenever I get the chance. Unfortunately, my dog can't make those trips and I need for someone to watch her when I'm go.</p>
            </div>
        </div>
    </div>
</div>