<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/login" class="nav-item btn btn-secondary" id="signInBtn">Sign In</a>
    <a href="/signup" class=" nav-item btn btn-secondary" id="signUpBtn">Sign Up</a>
</nav>
<div class="container">
    <h1>Keep track of your pets while you're away</h1>
    <h2>This will be some sort of description or some other information. Lorem Ipsum etc.</h2>
</div>

{{!-- <script type="text/javascript" src= "js/index.js"></script> --}}