<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/login" class="nav-item btn btn-secondary" id="signInBtn">SIGN IN</a>
    <a href="/signup" class=" nav-item btn btn-secondary" id="signUpBtn">SIGN UP</a>
</nav>
<div class="container" id="home">
    <div class="row">
        <div class="col-4">
            <img src="/images/Critter-Sitter-Man.png" alt="Man with Dog">
        </div>
        <div class="col-8">
            <h1>Keep track of your pets while you're away</h1>
            <h3>Find peace of mind using our simple messaging dashboard connecting you to your pet sitter caring for your beloved pet.</h3>
        </div>
    </div>

</div>

{{!-- <script type="text/javascript" src= "js/index.js"></script> --}}