<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/owner" class=" nav-item btn btn-secondary" id="signUpBtn">Dashboard</a>
</nav>

<div class="container" id="services">
    <h2>Let's get some information about your trip.</h2>
    <form class="newtrip">
        <div class="form-group">
            <label for="tripName">Trip Name</label>
            <input type="text" class="form-control" id="tripName">
        </div>
        <div class="form-group">
            <label for="fromDate">When will you be starting your trip?</label>
            <input type="text" class="form-control" id="fromDate">
        </div>
        <div class="form-group">
            <label for="toDate">When will you be getting back?</label>
            <input type="text" class="form-control" id="toDate">
        </div>
        <div class="form-group">
            <label for="emergencyContact">Who is a good emergency contact for your sitter in case of an
                emergancy?</label>
            <input type="text" class="form-control" id="emergencyContact">
        </div>
        <div class="form-group">
            <label for="tripComments">Are there any special instruction or comments you'd like to share with
                your sitter?</label>
            <textarea type="text" class="form-control" id="tripComments"></textarea>
        </div>
        <div class="form-group">
            <label for="sitterSelect">Who will be watching your pets?</label>
            <select class="form-control" id="sitterSelect">
                {{#each sitters}}
                    <option value={{id}}>{{FirstName}} {{LastName}}</option>
                {{/each}}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script type="text/javascript" src="js/newtrip.js"></script>