<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/logout" class=" nav-item btn btn-secondary" id="logOutBtn">LOG OUT</a>
</nav>

<div class="container" id="services">
    <div class="row add-space">
        <h1>Welcome to your Critter Sitter Dashboard!</h1>
    </div>
    <div class="row add-space">
        <h2>What would you like to do?</h2>
    </div>
    <div class="row add-space">
        <a href="/newpet" class="btn btn-secondary btn-block">ADD A NEW PET</a>
        {{!-- <a href="/owner-checkin" class="btn btn-secondary btn-block">CHECK ON PET</a> --}}
        <a href="/new-trip" class="btn btn-secondary btn-block">PLAN A TRIP</a>
    </div>
    <div class="row add-space">
        <h2>Here Are the pets you have on file:</h2>
    </div>
    <div class="row add-space card-group">
        {{#each pets}}
        {{>pet-block}}
        {{/each}}
    </div>
    <div class="row add-space">
        <h2>Here are the trips you have planned:</h2>
    </div>
    <div class="row add-space card-group">
        {{#each trips}}
        {{>owner-trip-block}}
        {{/each}}
    </div>
</div>