<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand">PetSafe Tracker</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Support</a>
            </li>
        </ul>
    </div>
    <a href="/owner" class=" nav-item btn btn-secondary" id="signUpBtn">Dashboard</a>
</nav>
<div class="container">
    <div>
        <p>This div will hold the information the owner might want before sending a message</p>
    </div>

    <form>
        <div class="form-group">
            <label for="emailInput">Enter the message you'd like to send to your pet sitter.</label>
            <textarea class="form-control" id="emailInput" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>