<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/logout" class=" nav-item btn btn-secondary" id="logOutBtn">Log Out</a>
</nav>

<div class="container">
    <h1>Welcome to your Critter Sitter Dasshboard!</h1>
    <h2>What would you like to do?</h2>
    <a href="/pet-info" class="btn btn-secondary">Add a pet or edit your pet's info</a>
    <a href="/owner-checkin" class="btn btn-secondary">Check in on your pets</a>
    <a href="/new-trip" class="btn btn-secondary">Plan a new trip</a>
</div>