<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/members" class="nav-item btn btn-secondary" id="signUpBtn">DASHBOARD</a>
    <a href="#" class="nav-item btn btn-secondary" id="logOutBtn">LOG OUT</a>
</nav>

<div class="container" id="services">
    {{#each pets}}
    {{>pet-block}}
    {{/each}}
</div>