<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/owner" class="nav-item btn btn-secondary" id="signUpBtn">Dashboard</a>
    <a href="#" class="nav-item btn btn-secondary" id="logOutBtn">Log Out</a>
</nav>

<div class="container">
    {{>pet-block}}
    <a href="/newpet" class="nav-item btn btn-secondary" id="newPetBtn">Add a new pet</a>
</div>