<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/" class="nav-item btn btn-secondary" id="homeBtn">Home</a>
</nav>
<div class="container">
    <h1>Services</h1>
    <h3>Pet Owners:</h3>
    <p>Keep a record of all of your pets that need to be watched</p>
    <p>Keep a record of instructions for your pet sitter</p>
    <p>Keep in touch with your pet sitter</p>
    <h3>Pet Sitters:</h3>
    <p>Review information about the pets that you are watching and any instructions</p>
    <p>Keep in touch with the pet owner with any updates about their pet</p>
</div>