<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/members" class="nav-item btn btn-secondary" id="homeBtn">HOME</a>
</nav>
<div class="container" id="services">
    <div class="row">
        <h1>Services</h1>
    </div>
    <div class="row">
        <h3>Pet Owners</h3>
    </div>
    <div class="row">
        <ul>
            <li>Keep a record of all of your pets that need to be watched</li>
            <li>Keep a record of instructions for your pet sitter</li>
            <li>Keep in touch with your pet sitter</li>
        </ul>
    </div>
        
    <div class="row">
        <h3>Pet Sitters</h3>
    </div>
    <div class="row">
        <ul>
            <li>Review information and instructions about the pets that you are watching</li>
            <li>Keep in touch with the pet owner with any updates about their pet</li>
        </ul>
    </div>
</div>