<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/logout" class="nav-item btn btn-secondary" id="logOutBtn">LOG OUT</a>
</nav>

<div class="container" id="services">
    <h1>Welcome to your Critter Sitter Dashboard!</h1>
    <h2>Whose pets are you checking in on?</h2>
    <div>
        {{#each trips}}
            {{>trip-block}}
        {{/each}}
    </div>
</div>
{{!-- <script type="text/javascript" src="js/sitter-dash.js"></script> --}}