<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="#" class=" nav-item btn btn-secondary" id="logOutBtn">Log Out</a>
</nav>

<div class="container" id="services">
    <h1>Welcome to your Critter Sitter Dashboard!</h1>
    <h2>Which pets are you checking in on?</h2>
    <div>

        {{>trip-block}}
        
    </div>
</div>