<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/members" class="nav-item btn btn-secondary" id="homeBtn">HOME</a>
</nav>
<div class="container" id="services">
    <div class="row">
        <h1>Support</h1>
    </div>
    <div class="row">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="/images/valkyrie.jpg" class="card-img" alt="Valkyrie to the Rescue">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Valkyrie the Support Pup</h5>
                        <p class="card-text">Do you need a little support? Valkyrie can help. She's all EARS!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>