<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {{>nav-block}}
    <a href="/" class="nav-item btn btn-secondary" id="homeBtn">Home</a>
</nav>
<div class="container">
    <h1>You're on your own</h1>
</div>